@import 'config';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

body {
    background: $bgAndBtn-color;
    font-size: 15px;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20%;


    &-card {
        height: 65%;
        display: grid;
        padding: 40px;
    }

    &-card:first-child {
        background: $card1-color;
        border-radius: 5px 0 0 5px;
    }

    &-card:nth-child(2) {
        background: $card2-color;
    }

    &-card:last-child {
        background: $card3-color;
        border-radius: 0 5px 5px 0;
    }

    &-card h1 {
        font-family: $h1Font-family;
        font-size: 30px;
        color: $bgAndBtn-color;
        text-transform: uppercase;
        font-weight: 700;
    }

    &-card p {
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 14px;
        color: $font-color;
        margin-bottom: 20px;
    }

    &-card a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 60%;
        text-decoration: none;
        font-family: $secondary-font;
        font-size: 13px;
        font-weight: 500;
        background: $bgAndBtn-color;
        border: 2px solid $bgAndBtn-color;
        border-radius: 50px;
        margin-top: 20px;
        padding: 0;
    }

    &-card:nth-child(1) a {
        color: $card1-color;
    }

    &-card:nth-child(2) a {
        color: $card2-color;
    }

    &-card:nth-child(3) a {
        color: $card3-color;
    }

    &-card a:hover {
        background: transparent;
        color: $bgAndBtn-color;
    }
}

footer {
    text-align: center;
    font-family: $secondary-font;

    a {
        text-decoration: none;
    }
}

// Responsiveness

@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        &-card {
            gap: 10px;
        }

        &-card:first-child {
            border-radius: 5px 5px 0 0;
        }

        &-card:last-child {
            border-radius: 0 0 5px 5px;
        }
    }

    footer {
        display: none;
    }
}
