$bgAndBtn-color: hsl(0, 0%, 95%);
$font-color:  hsla(0, 0%, 100%, 0.75);
$card1-color: hsl(31, 77%, 52%);
$card2-color: hsl(184, 100%, 22%);
$card3-color: hsl(179, 100%, 13%);
$h1Font-family: 'Big Shoulders Display';
$secondary-font: 'Lexend Deca';